<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Ably" connectionString="AHSz6w.uQXPNQ:FGBZbsKSwqbCpkob" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>


  <runtime>


    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" publicKeyToken="407DD0808D44FBDC" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>

      <dependentAssembly>


        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="xunit.core" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-2.3.0.3705" newVersion="2.3.0.3705" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="xunit.execution.desktop" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-2.3.0.3705" newVersion="2.3.0.3705" />


      </dependentAssembly>


    </assemblyBinding>


  </runtime>
</configuration>
