source https://api.nuget.org/v3/index.json

storage: none
framework: netstandard2.0, net462, net6.0, net7.0
nuget Fake.Core.Target
nuget Fake.DotNet.AssemblyInfoFile
nuget Fake.DotNet.Cli
nuget Fake.DotNet.Testing.XUnit2
nuget Microsoft.Build 17.3.2
nuget Microsoft.Build.Tasks.Core 17.3.2
