<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.ably.dotnet_push">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
  <application android:label="DotnetPush.Android" android:theme="@style/MainTheme"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<!--<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />-->
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
</manifest>