name: Windows - build and test
on: [ "push" ]


jobs:
  build-and-test-windows:
    runs-on: windows-latest
    env:
      DOTNET_NOLOGO: true

    strategy:
      matrix:
        target: [ "Test.NetStandard", "Test.NetFramework" ]

    steps:
      - uses: actions/checkout@v2
        with: 
          submodules: 'recursive'
      - name: Download framework
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '3.1.x'
      - name: Download fake-cli
        run: dotnet tool install fake-cli --tool-path .
      - name: Unit tests
        run: ./build.cmd ${{ matrix.target }}.Unit
      - name: Integration tests
        run: ./build.cmd ${{ matrix.target }}.Integration
          