name: "Integration Test: Windows"
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check:
    runs-on: windows-latest
    env:
      DOTNET_NOLOGO: true

    strategy:
      matrix:
        target: [ "Test.NetStandard", "Test.NetFramework" ]

    steps:
      - uses: actions/checkout@v2
        with: 
          submodules: 'recursive'
      - name: Download framework
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: |
            3.1.x
            6.0.x
            7.0.x
      - name: Download fake-cli
        run: dotnet tool restore
      - name: Unit tests
        run: ./build.cmd ${{ matrix.target }}.Unit
      - name: Integration tests
        run: ./build.cmd ${{ matrix.target }}.Integration
