name: Package ably
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Ably version'
        required: true

jobs:
  package-library:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Download dotnet framework
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: |
            3.1.x
            6.0.403
            7.0.408

      - name: Download cake tool
        run:  dotnet tool restore

      - name: Package
        run: ./package-cake.cmd ${{ github.event.inputs.version }}
        
      - name: Archive package
        uses: actions/upload-artifact@v2
        with:
          name: output-package
          path: |
            ${{ github.workspace }}/*.nupkg

  package-push:
    runs-on: macos-latest
    env:
      DOTNET_NOLOGO: true

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Download dotnet framework
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: |
            3.1.x
            6.0.403
            7.0.408

      - name: Download cake tool
        run:  dotnet tool restore

      - name: Package
        run: ./package-push-cake.sh ${{ github.event.inputs.version }}

      - name: Archive package
        uses: actions/upload-artifact@v2
        with:
          name: output-package
          path: |
            ${{ github.workspace }}/*.nupkg

  package-unity:
    env:
      package_path: "./artifacts/ably.io.${{ github.event.inputs.version }}.unitypackage"
    runs-on: ubuntu-latest
    steps:
        # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
        - uses: actions/checkout@v4

        - name: Download dotnet framework
          uses: actions/setup-dotnet@v1
          with:
            dotnet-version: |
              2.x.x
              6.0.403

        # Checkout unity packager
        - name: Checkout unity-packager repo
          uses: actions/checkout@v3
          with:
            repository: ably-forks/unity-packager
            ref: v1.0.0
            path: unity-packager
        
        # Pack the assets
        - name: Package Project
          run: |
            mkdir artifacts
            echo "Creating package ${{env.package_path}}"
            dotnet run --project unity-packager/UnityPackageExporter/UnityPackageExporter.csproj -project unity -output ${{env.package_path}} -dir Assets/Ably
        
        # Upload artifact
        - name: Upload Artifact
          uses: actions/upload-artifact@v2
          with:
            name: output-package
            path: ${{env.package_path}}
