name: "Unit and Integration Test: Windows"
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check:
    runs-on: windows-latest
    env:
      DOTNET_NOLOGO: true

    strategy:
      matrix:
        targetframework: [ "net6.0", "net7.0" ]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Download framework
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: |
            6.0.403
            7.0.408

      - name: Download dotnet build-script tools
        run: dotnet tool restore

      - name: Unit tests
        run: ./build-cake.cmd --target=Test.NetStandard.Unit.WithRetry --framework=${{ matrix.targetframework }}

      - name: Integration tests
        run: ./build-cake.cmd --target=Test.NetStandard.Integration.WithRetry --framework=${{ matrix.targetframework }}
