name: "Unit and Integration Test: Linux"
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check:
    runs-on: ubuntu-latest
    env:
      DOTNET_NOLOGO: true

    strategy:
      matrix:
        targetframework: [ "net6.0", "net7.0" ]

    steps:
      - uses: actions/checkout@v2
        with: 
          submodules: 'recursive'

      - name: Download dotnet framework
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: |
            6.0.403
            7.0.408

      - name: Download dotnet build-script tools
        run:  dotnet tool restore

      - name: Unit tests
        run: ./build-cake.sh --target=Test.NetStandard.Unit.WithRetry --framework=${{ matrix.targetframework }}

      - name: Integration tests
        run: ./build-cake.sh --target=Test.NetStandard.Integration.WithRetry --framework=${{ matrix.targetframework }}
