name: "Unit and Integration Test: Windows"
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check:
    runs-on: windows-2022
    env:
      DOTNET_NOLOGO: true

    strategy:
      fail-fast: false
      matrix:
        targetframework: [ "net6.0", "net7.0", "net8.0", "net9.0" ]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Download framework
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            6.0.428
            7.0.410
            8.0.404
            9.0.100

      - name: Download dotnet build-script tools
        run: dotnet tool restore

      - name: Unit tests
        run: ./build.cmd --target=Test.NetStandard.Unit.WithRetry --framework=${{ matrix.targetframework }}

      - name: Integration tests
        run: ./build.cmd --target=Test.NetStandard.Integration.WithRetry --framework=${{ matrix.targetframework }}
