name: "Unit and Integration Test: macOS (Mono)"
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check:
    runs-on: macos-13
    env:
      DOTNET_NOLOGO: true

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Download dotnet framework
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            3.1.426
            7.0.410

      - name: Download dotnet build-script tools
        run:  dotnet tool restore
      
      - name: Install mono
        run: |
          ./tools/mono-install.sh

      - name: Run Unit tests using mono
        run: ./build.sh --target=Test.NetFramework.Unit.WithRetry

      - name: Run Integration tests using mono
        run: ./build.sh --target=Test.NetFramework.Integration.WithRetry
