name: "Unit and Integration Test: macOS"
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check:
    runs-on: macos-latest
    env:
      DOTNET_NOLOGO: true

    strategy:
      matrix:
        targetframework: [ "net6.0", "net7.0", "net8.0", "net9.0" ]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Download dotnet framework
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: |
            6.0.x
            7.0.x
            8.0.x
            9.0.x

      - name: Download dotnet build-script tools
        run:  dotnet tool restore

      - name: Unit tests
        run: ./build-cake.sh --target=Test.NetStandard.Unit.WithRetry --framework=${{ matrix.targetframework }}

      - name: Integration tests
        run: ./build-cake.sh --target=Test.NetStandard.Integration.WithRetry --framework=${{ matrix.targetframework }}
