name: "Unit and Integration Test: Windows (NetFramework)"
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check:
    runs-on: windows-2022
    env:
      DOTNET_NOLOGO: true

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Download dotnet framework
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            7.0.410
            
      - name: Download dotnet build-script tools
        run: dotnet tool restore

      - name: Unit tests
        run: ./build.cmd --target=Test.NetFramework.Unit.WithRetry

      - name: Integration tests
        run: ./build.cmd --target=Test.NetFramework.Integration.WithRetry
